{% extends 'election/base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set Status = eos.base.workflow.WorkflowTask.Status %}

{% block electioncontent %}
	{% if election.workflow.get_task('eos.base.workflow.TaskConfigureElection').status == Status.EXITED %}
		{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').status == Status.EXITED %}
			{% if election.workflow.get_task('eos.base.workflow.TaskCloseVoting').status == Status.EXITED %}
				{% if election.workflow.get_task('eos.base.workflow.TaskReleaseResults').status < Status.EXITED %}
					<p><button class="ui huge button">Voting in this {{ election.kind }} has closed</button></p>
				{% endif %}
			{% else %}
				<p><a href="{{ url_for('election_booth', election_id=election._id) }}" class="ui huge primary button">Click here to vote in this {{ election.kind }}</a></p>
			{% endif %}
		{% else %}
			<p><button class="ui huge button">Voting in this {{ election.kind }} has not yet opened</button></p>
		{% endif %}
		
		<p>
			Voting in this {{ election.kind }}
			{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').status == Status.EXITED %}
				opened at {{ election.workflow.get_task('eos.base.workflow.TaskOpenVoting').exited_at.strftime('%Y-%m-%d %H:%M:%S') }} UTC
			{% else %}
				is scheduled to open
			{% endif %}
			at the administrators' discretion, and
			{% if election.workflow.get_task('eos.base.workflow.TaskCloseVoting').status == Status.EXITED %}
				closed at {{ election.workflow.get_task('eos.base.workflow.TaskCloseVoting').exited_at.strftime('%Y-%m-%d %H:%M:%S') }} UTC
			{% else %}
				is scheduled to close
			{% endif %}
			at the administrators' discretion.
		</p>
	{% else %}
		<p><button class="ui huge button">This {{ election.kind }} is not yet ready for voting</button></p>
		
		<p>The administrator of this {{ election.kind }} has not yet finished setting the election parameters. The details of the {{ election.kind }} may change at any time.</p>
	{% endif %}
	
	{% if election.workflow.get_task('eos.base.workflow.TaskReleaseResults').status == Status.EXITED %}
		<h2>Results</h2>
		
		<p>Results were released at {{ election.workflow.get_task('eos.base.workflow.TaskReleaseResults').exited_at.strftime('%Y-%m-%d %H:%M:%S') }} UTC.</p>
		
		{% for question in election.questions %}
			<h3>{{ loop.index }}. {{ question.prompt }}</h2>
			{% include eosweb.core.main.model_view_map[question.__class__]['result_raw'] %}
		{% endfor %}
	{% endif %}
	
	{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').status < Status.EXITED %}
		<h2>Voting booth</h2>
		
		<p>Voting in this {{ election.kind }} has not yet begun. If you would like to preview the voting booth, <a href="{{ url_for('election_booth', election_id=election._id) }}">click here</a>. Note that you will not be able to cast any ballots until voting opens.</p>
	{% elif election.workflow.get_task('eos.base.workflow.TaskCloseVoting').status == Status.EXITED %}
		<h2>Voting booth</h2>
		
		<p>Voting in this {{ election.kind }} has concluded. If you would like to review the voting booth, <a href="{{ url_for('election_booth', election_id=election._id) }}">click here</a>. Note that you will no longer be able to cast any ballots.</p>
	{% endif %}
{% endblock %}
