coverage==4.4.1
Flask==0.12.2
Flask-Mail==0.9.1
Flask-OAuthlib==0.9.4
Flask-Session==0.3.1
gunicorn==19.7.1
libsass==0.13.4
premailer==3.1.1
psycopg2==2.7.3.2
PyExecJS==1.4.1
pymongo==3.5.1
pyRCV==0.3
pytz==2017.3
timeago==1.0.8
Transcrypt==3.6.60
