{% extends 'semantic_base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
{% endblock %}

{% block basecontent %}
	<div class="ui fixed inverted menu" style="margin-right: 1.5em;">
		<div class="ui container">
			<a href="/" class="header item">Eos Voting for {{ eosweb.app.config['ORG_NAME'] }}</a>
			<a href="https://github.com/RunasSudo/Eos" class="item">Source Code</a>
			{% if session.user %}
				<div class="ui simple dropdown item right">
					{{ session.user.name }} <i class="dropdown icon"></i>
					<div class="menu">
						<a href="{{ url_for('logout') }}?next={{ request.full_path|urlencode }}" class="item">Log out</a>
					</div>
				</div>
			{% else %}
				<a href="{{ url_for('login') }}" class="item right">Log in</a>
			{% endif %}
		</div>
	</div>
	<div class="ui main text container" id="main_container">
		{% block content %}
		{% endblock content %}
	</div>
{% endblock %}
