{% extends 'base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017-2019  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block title %}Elections{% endblock %}

{% block content %}
	<h1>All elections: Eos Voting for {{ eosweb.app.config['ORG_NAME'] }}</h1>
	
	{% if session.user and session.user.is_admin() %}
		<div style="text-align: right; font-size: small;"><a href="{{ url_for('elections_batch') }}">Batch operations</a></div>
	{% endif %}
	
	<p>Please choose an election from the list below:</p>
	
	<ul>
		{% for election in elections %}
			<li><a href="{{ url_for('election_view', election_id=election._id) }}">{{ election.name }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
