{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} – Eos Voting for {{ eosweb.app.config['ORG_NAME'] }}</title>
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/semantic/dist/semantic.min.css') }}">
		
		<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/semantic/dist/semantic.min.js') }}"></script>
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block basecontent %}
		{% endblock %}
	</body>
</html>
