{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<p><small>Preferential voting. Vote for between {{ question.min_choices }} and {{ question.max_choices }} choices.</small></p>

<ul class="ui list">
	{% for choice in question.choices %}
		{% if choice.choices %}
			{# Ticket #}
			<li>
				{{ choice.name }}
				<ul>
					{% for choice2 in choice.choices %}
						<li>{{ choice2.name }}{% if choice2.party and choice2.party != choice.name %} – {{ choice2.party }}{% endif %}</li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li>{{ choice.name }}{% if choice.party %} – {{ choice.party }}{% endif %}</li>
		{% endif %}
	{% endfor %}
</ul>
