{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="ui list">
	{% for choice in booth.answers[loop.index0].value.choices %}
		<div class="item">
			<i class="checkmark icon"></i>
			<div class="content">{{ question.choices.__getitem__(choice).name }}{% if question.choices.__getitem__(choice).party %}{{ question.choices.__getitem__(choice).party }}{% endif %}</div>
		</div>
	{% else %}
		<div class="item">
			<i class="warning circle icon"></i>
			<div class="content">No choices selected</div>
		</div>
	{% endfor %}
</div>

{% if booth.answers[loop.index0].value.choices.length < question.min_choices %}
	<div class="ui error message">
		<p>You have selected fewer than the minimum required number of choices. If you proceed to cast this ballot, it will <span class="superem">not</span> be counted. If this was not your intention, please click the ‘Back’ button below now, and correct your selections.</p>
	</div>
{% elif booth.answers[loop.index0].value.choices.length < question.max_choices %}
	<div class="ui warning message">
		<p>You have selected fewer than the maximum allowed number of choices. If this was not your intention, please click the ‘Back’ button below now, and correct your selections.</p>
	</div>
{% endif %}
