{% extends 'semantic_base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block title %}Log in{% endblock %}

{% block basecontent %}
	<div class="ui middle aligned center aligned grid" style="height: 100%;">
		<div class="column" style="max-width: 400px;">
			<div class="ui hidden success message" id="success-popup">
				<div class="header">Log in successful</div>
				<p>You have successfully logged in to your account.</p>
				<p>You may now close this window and return to your previous page.</p>
			</div>
			<div class="ui hidden success message" id="success-redirect">
				<div class="header">Log in successful</div>
				<p>You have successfully logged in to your account.</p>
				<p>Please wait, you should be returned to your previous page momentarily.</p>
			</div>
			<div class="ui hidden error message">
				<div class="header">Error logging in</div>
				<p>Your log in details appear to be correct, however there was an unknown error while logging you in.</p>
				<p>Please close this window and try again. If the problem persists, contact your election administrator.</p>
			</div>
		</div>
	</div>
	
	<script>
		if (window.opener && window.opener.callback_complete) {
			// Normal popup window
			// Redirect happens in the opener
			try {
				var result = window.opener.callback_complete("{{ session.user.name }}");
				if (result) {
					$("#success-popup").removeClass("hidden");
					setTimeout(window.close, 1000);
				} else {
					$(".error.message").removeClass("hidden");
				}
			} catch (ex) {
				$(".error.message").removeClass("hidden");
				console.error(ex);
				throw ex;
			}
		} else {
			// This browser does not support popups
			// Manually redirect in this window
			$("#success-redirect").removeClass("hidden");
			window.location = "{{ url_for('login_callback') }}";
		}
	</script>
{% endblock %}
