{% extends 'semantic_base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block title %}Login{% endblock %}

{% block basecontent %}
	<div class="ui middle aligned center aligned grid" style="height: 100%;">
		<div class="column" style="max-width: 400px;">
			<div class="ui error message">
				<div class="header">Log in cancelled</div>
				<p>You have cancelled the request to log in to your account.</p>
				<p>If you do wish to log in to your account, please close this window and try again.</p>
			</div>
		</div>
	</div>
{% endblock %}
