{% extends 'election/base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set Status = eos.base.workflow.WorkflowTask.Status %}

{% block electioncontent %}
	{% if election.workflow.get_task('eos.base.workflow.TaskConfigureElection').status == Status.EXITED %}
		{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').status == Status.EXITED %}
			{% if election.workflow.get_task('eos.base.workflow.TaskCloseVoting').status == Status.EXITED %}
				{% if election.workflow.get_task('eos.base.workflow.TaskReleaseResults').status < Status.EXITED %}
					<p><button class="ui huge button">Voting in this {{ election.kind }} has closed</button></p>
				{% endif %}
			{% else %}
				<p><a href="{{ url_for('election_booth', election_id=election._id) }}" class="ui huge primary button">Click here to vote in this {{ election.kind }}</a></p>
			{% endif %}
		{% else %}
			<p><button class="ui huge button">Voting in this {{ election.kind }} has not yet opened</button></p>
		{% endif %}
	{% else %}
		<p><button class="ui huge button">This {{ election.kind }} is not yet ready for voting</button></p>
		
		<p>The administrator of this {{ election.kind }} has not yet finished setting the election parameters. The details of the {{ election.kind }} may change at any time.</p>
	{% endif %}
	
	<p>
		Voting in this {{ election.kind }}
		{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').status == Status.EXITED %}
			opened
			{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').get_entry_task().run_at %}
				{{ election.workflow.get_task('eos.base.workflow.TaskOpenVoting').get_entry_task().run_at|pretty_date }}
				according to schedule,
			{% else %}
				{{ election.workflow.get_task('eos.base.workflow.TaskOpenVoting').exited_at|pretty_date }}
				at the administrator's discretion,
			{% endif %}
		{% else %}
			is scheduled to open
			{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').get_entry_task().run_at %}
				{{ election.workflow.get_task('eos.base.workflow.TaskOpenVoting').get_entry_task().run_at|pretty_date }},
			{% else %}
				the administrator's discretion,
			{% endif %}
		{% endif %}
		and
		{% if election.workflow.get_task('eos.base.workflow.TaskCloseVoting').status == Status.EXITED %}
			closed
			{% if election.workflow.get_task('eos.base.workflow.TaskCloseVoting').get_entry_task().run_at %}
				{{ election.workflow.get_task('eos.base.workflow.TaskCloseVoting').get_entry_task().run_at|pretty_date }}
				according to schedule.
			{% else %}
				{{ election.workflow.get_task('eos.base.workflow.TaskCloseVoting').exited_at|pretty_date }}
				at the administrator's discretion.
			{% endif %}
		{% else %}
			is scheduled to close
			{% if election.workflow.get_task('eos.base.workflow.TaskCloseVoting').get_entry_task().run_at %}
				{{ election.workflow.get_task('eos.base.workflow.TaskCloseVoting').get_entry_task().run_at|pretty_date }}.
			{% else %}
				the administrator's discretion.
			{% endif %}
		{% endif %}
	</p>
	
	{% if (session.user and session.user.is_admin() and election.workflow.get_task('eos.base.workflow.TaskReleaseResults').status == Status.READY) or election.workflow.get_task('eos.base.workflow.TaskReleaseResults').status == Status.EXITED %}
		<h2>Results</h2>
		
		<p><a href="{{ url_for('election_api_json', election_id=election._id) }}?full" class="mini ui labeled icon button"><i class="download icon"></i> Export as Eos JSON</a></p>
		
		{% if election.workflow.get_task('eos.base.workflow.TaskReleaseResults').status == Status.EXITED %}
			<p>Results were released {{ election.workflow.get_task('eos.base.workflow.TaskReleaseResults').exited_at|pretty_date }}.</p>
		{% else %}
			<div class="ui warning message">
				This is a preview of the election results, shown only to you, the election administrator. To publicly release the results, you must do so from the <a href="{{ url_for('election_admin_summary', election_id=election._id) }}">‘Administrate this election’</a> tab.
			</div>
		{% endif %}
		
		{% for question in election.questions %}
			<h3>{{ loop.index }}. {{ question.prompt }}</h3>
			{% set q_num = loop.index0 %}
			{% set result = election.results[q_num] %}
			{% if result._name == 'eos.base.election.MultipleResult' %}
				{% set result1 = result %}
				<div class="ui top attached tabular menu">
					{% for result in result1.results %}
						<div class="{% if loop.index0 == 0 %}active {% endif %}item" data-tab="result-{{ q_num }}-{{ loop.index0 }}">{{ result.__class__.__name__.replace('Result', '') }}</div>
					{% endfor %}
				</div>
				{% for result in result1.results %}
					<div class="ui bottom attached{% if loop.index0 == 0 %} active{% endif %} tab segment" data-tab="result-{{ q_num }}-{{ loop.index0 }}">
						{% include eosweb.core.main.model_view_map[question.__class__]['result_' + result._name] %}
					</div>
				{% endfor %}
			{% else %}
				{% include eosweb.core.main.model_view_map[question.__class__]['result_' + result._name] %}
			{% endif %}
		{% endfor %}
	{% endif %}
	
	{% if election.workflow.get_task('eos.base.workflow.TaskOpenVoting').status < Status.EXITED %}
		<h2>Voting booth</h2>
		
		<p>Voting in this {{ election.kind }} has not yet begun. If you would like to preview the voting booth, <a href="{{ url_for('election_booth', election_id=election._id) }}">click here</a>. Note that you will not be able to cast any ballots until voting opens.</p>
		
		<p><small>If you are a registered pre-poll voter, you may access the pre-poll voting booth <a href="{{ url_for('election_booth', election_id=election._id) }}?prepoll">here</a>.</small></p>
	{% elif election.workflow.get_task('eos.base.workflow.TaskCloseVoting').status == Status.EXITED %}
		<h2>Voting booth</h2>
		
		<p>Voting in this {{ election.kind }} has concluded. If you would like to review the voting booth, <a href="{{ url_for('election_booth', election_id=election._id) }}">click here</a>. Note that you will no longer be able to cast any ballots.</p>
	{% endif %}
{% endblock %}
