{% extends 'eos_basic/election_base.html' %}

{#
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block electioncontent %}
	{% if election.workflow.get_pending_tasks(election)|length > 0 %}
		<p>
			<i class="configure icon"></i>
			{% if election.workflow.get_pending_tasks(election)|length > 1 %}
				<b>Next steps:</b>
			{% else %}
				<b>Next step:</b>
			{% endif %}
			{% for task in election.workflow.get_pending_tasks(election) %}
				<a href="{{ task.task_url(election.workflow, election) }}">{{ task.task_name(election.workflow, election) }}</a>{% if not loop.last %},{% endif %}
			{% endfor %}
		</p>
	{% endif %}
	
	{% if election.workflow.get_task('eos_core.workflow.TaskSetElectionDetails').is_complete(election.workflow, election) %}
		{% if election.workflow.get_task('eos_core.workflow.TaskCloseVoting').is_complete(election.workflow, election) %}
			<p><button class="ui huge button">Voting in this election has closed</button></p>
		{% elif election.workflow.get_task('eos_core.workflow.TaskReceiveVotes').is_pending(election.workflow, election) %}
			<p><a href="{{ url('election_voting_booth', election.id) }}" class="ui huge primary button">Click here to vote in this election</a></p>
		{% else %}
			<p><button class="ui huge button">Voting in this election has not yet opened</button></p>
		{% endif %}
	{% else %}
		<p><button class="ui huge button">This election is not yet ready for voting</button></p>
		
		<p>
			The administrator of this election has not yet finished setting the election parameters. The details of the election may change at any time.
		</p>
	{% endif %}
	
	<p>
		Voting in this election
		{% if election.workflow.get_task('eos_core.workflow.TaskOpenVoting').is_complete(election.workflow, election) %}
			opened
			{% if election.voting_opened_at %}
				{{ election.voting_opened_at | datetime }}, at the administrator's discretion,
			{% elif election.voting_opens_at %}
				{{ election.voting_opens_at | datetime }}, according to schedule,
			{% endif %}
		{% else %}
			opens
			{% if election.voting_opens_at %}
				{{ election.voting_opens_at | datetime }}, or
			{% endif %}
			at the administrator's discretion,
		{% endif %}
		and
		{% if election.voting_extended_until %}
			was scheduled to close {{ election.voting_closes_at | datetime }}, but
			{% if election.workflow.get_task('eos_core.workflow.TaskCloseVoting').is_complete(election.workflow, election) %}
				was extended until {{ election.voting_extended_until | datetime }},
				{% if election.voting_closed_at %}
					and closed {{ election.voting_closed_at | datetime }}, at the administrator's discretion.
				{% else %}
					and closed at that time.
				{% endif %}
			{% else %}
				has been extended until {{ election.voting_extended_until | datetime }}, and now closes at that time, or at the administrator's discretion.
			{% endif %}
		{% else %}
			{% if election.workflow.get_task('eos_core.workflow.TaskCloseVoting').is_complete(election.workflow, election) %}
				closed
				{% if election.voting_closed_at %}
					{{ election.voting_closed_at | datetime }}, at the administrator's discretion.
				{% else %}
					{{ election.voting_closes_at | datetime }}, according to schedule.
				{% endif %}
			{% else %}
				closes
				{% if election.voting_closed_at %}
					{{ election.voting_closes_at | datetime }}, or
				{% endif %}
				at the administrator's discretion.
			{% endif %}
		{% endif %}
	</p>
{% endblock %}
