{% extends 'semantic_base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017-2019  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block title %}Log in{% endblock %}

{% block basecontent %}
	<div class="ui middle aligned center aligned grid" style="height: 100%;">
		<div class="column" style="max-width: 400px;">
			<p>1. Log in to NationStates below if necessary, and copy your <i>Login Verification Code</i>.</p>
			<iframe src="https://m.nationstates.net/page=verify_login" style="width: 100%; height: 10em;"></iframe>
			<p>2. Type your nation name and paste your Login Verification Code into the form below.</p>
			<form class="ui large form" action="{{ url_for('eosweb.nsauth.nationstates_authenticate') }}" method="post">
				{% if error %}
					<div class="ui visible error message">{{ error }}</div>
				{% endif %}
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" name="username" placeholder="Nation name">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="linkify icon"></i>
							<input type="text" name="checksum" placeholder="Login verification code">
						</div>
					</div>
					<input type="submit" class="ui fluid large teal submit button" value="Log in">
				</div>
			</form>
		</div>
	</div>
{% endblock %}
