{% extends templates['booth/base.html'] %}

{#
	Eos - Verifiable elections
	Copyright © 2017-2019  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block content %}
	<h2>Ready to audit your ballot</h2>
	
	<div class="ui negative message">
		<p>Your vote has <span class="superem">not</span> yet been cast. Please follow the instructions to continue.</p>
	</div>
	
	<p>The following is your ballot with fingerprint <span class="hash">{{ eosjs.eos.core.hashing.SHA256().update_obj(ballot).hash_as_b64() }}</span>, decrypted and ready for auditing.</p>
	
	<div class="ui form">
		{# For some reason nunjucks doesn't like calling this the normal way #}
		<textarea>{{ ballot.to_json(ballot.serialise_and_wrap(ballot)) }}</textarea>
	</div>
	
	<p>You may provide the above data to a trusted third-party, or use the <a href="/auditor?electionUrl={{ election_base_url }}" target="_blank">Eos auditor</a> to verify that your ballot was prepared correctly.</p>
	
	<p>Once you are satisfied that your ballot has been prepared correctly, click ‘Continue’. Your ballot will be prepared again, to protect your secrecy, and you may choose to audit your ballot again, or proceed to cast your ballot.</p>
{% endblock %}

{% block buttons %}
	{# Dirty trick to go back to the encryption step #}
	<button class="ui right floated primary button" onclick="nextTemplate(-2);">Continue</button>
{% endblock %}

{% block help %}
	<p>Eos is now ready to audit your ballot. This is an optional step that you can take to ensure that your ballot was prepared correctly by the voting booth.</p>
	<p>To complete the audit, provide the data shown to a trusted third-party, or <a href="/auditor?electionUrl={{ election_base_url }}" target="_blank">click here to open the Eos auditor</a> and copy-paste in the data shown.</p>
	<p>If you are satisfied with the result of the audit, click the blue ‘Continue’ button to proceed to cast your ballot.</p>
	<p>Click the ‘OK’ button below to close this help screen.</p>
	<p>If you require further assistance, contact your election administrator.</p>
{% endblock %}
