{#
	Eos - Verifiable elections
	Copyright © 2017-18  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<h1>{{ election.name }}</h1>

<p><small><b>{{ election.kind|title }} fingerprint:</b> <span class="hash">{{ eosjs.eos.core.hashing.__all__.SHA256().update_obj(election).hash_as_b64() }}</span></small></p>

{# Convert the template name to a numerical index for comparison #}
{% if template == 'booth/welcome.html' %}
	{% set menuindex = 1 %}
{% elif template == 'booth/selections.html' or template == 'booth/encrypt.html' %}
	{% set menuindex = 2 %}
{% elif template == 'booth/review.html' %}
	{% set menuindex = 3 %}
{% elif template == 'booth/audit.html' %}
	{% set menuindex = 4 %}
{% elif template == 'booth/cast.html' %}
	{% set menuindex = 5 %}
{% elif template == 'booth/complete.html' %}
	{% set menuindex = 6 %}
{% endif %}

{% macro menuitem(index, text) %}
	<li class="progress-step{% if menuindex > index %} is-complete{% elif menuindex == index %} is-active{% endif %}">
		<span class="progress-marker">{% if menuindex > index or menuindex == 6 %}<span style="font-family: Icons;">&#xf00c;</span>{% else %}{{ index }}{% endif %}</span>
		<span class="progress-text">
			{{ text }}
		</span>
	</li>
{% endmacro %}

<ul class="progress-tracker progress-tracker--word progress-tracker--word-center" id="election-tab-menu" style="margin-bottom: 20px;">
	{{ menuitem(1, "Welcome") }}
	{{ menuitem(2, "Select") }}
	{{ menuitem(3, "Review") }}
	{{ menuitem(4, "Audit") }}
	{{ menuitem(5, "Cast") }}
	{{ menuitem(6, "Finish") }}
</ul>

<div class="ui container">
	{% block content %}{% endblock %}
</div>

<div class="ui container" style="margin-top: 1em;">
	{% block buttons %}{% endblock %}
	<div style="clear: both;"></div>
</div>

{% block after %}{% endblock %}
