{% extends templates['booth/base.html'] %}

{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block content %}
	<p>Your vote has <b>not</b> yet been cast. Your selections are shown below. Please review your selections and ensure you are happy with them before continuing.</p>
	
	<div class="ui negative message">
		<p>Your vote has <b>not</b> yet been cast. Please follow the instructions to continue.</p>
	</div>
	
	{% for question in election.questions.impl %}
		<h2>{{ loop.index }}. {{ question.prompt }}</h2>
		{% include templates[selection_model_view_map[election.questions.__getitem__(loop.index0)._name]["selections_review"]] %}
	{% endfor %}
	
	<p>If you are happy with your selections, then make a note of your ballot fingerprint, <span class="hash">{{ eosjs.eos.core.hashing.__all__.SHA256().update_obj(ballot).hash_as_b64() }}</span>.</p>
	<p>Click ‘Continue’, and you will be able to log into cast your vote.</p>
{% endblock %}

{% block buttons %}
	<button class="ui left floated button" onclick="prevTemplate();">Back</a>
	<button class="ui right floated primary button" onclick="nextTemplate(2);">Continue</button>
{% endblock %}

{% block after %}
	<div style="clear: both; margin-bottom: 1em;"></div>
	<p><small>If you would like to audit your ballot, <a href="#" onclick="nextTemplate(1);">click here</a>. Auditing your ballot is an <b>optional</b> step you can take to check that your vote has been prepared correctly. You do not need to audit your ballot in order to cast a vote.</small></p>
{% endblock %}
