{% extends templates['eos_basic/templates/base.html'] %}

{#
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block content %}
	<p>Your ballot has now been prepared. Your smart ballot tracker is <b class="hash">{{ booth.encryptedVote.hash() }}</b>.</p>
	<p>Please note that <b style="color: #9F3A38;"><u>your vote has not yet been cast</u></b>, and will not be cast until you click the ‘Cast ballot’ button below.</p>
	<p>If you have disconnected your internet connection, you should now re-connect it before casting your ballot.</p>
	<p>Click the ‘Cast ballot’ button below to cast your ballot in this election.</p>
{% endblock %}

{% block buttons %}
	<button class="ui left floated button" onclick="prevTemplate();">Back</a>
	<button class="ui right floated primary button" onclick="nextTemplate();">Cast ballot</button>
{% endblock buttons %}
