{% extends templates['base'] %}

{#
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block content %}
	<p>Your ballot has now been prepared. Your smart ballot tracker is <b class="hash">{{ booth.encryptedVote.hash() }}</b>.</p>
	<p>Please note that <b style="color: #9F3A38;"><u>your vote has not yet been cast</u></b>, and will not be cast until you click the ‘Cast ballot’ button below.</p>
	<p>If you have disconnected your internet connection, you should now re-connect it before casting your ballot.</p>
	<p>Click the ‘Cast ballot’ button below to cast your ballot in this election.</p>
{% endblock %}

{% block buttons %}
	<button class="ui left floated button" onclick="showTemplate('review');">Back</a>
	<button class="ui right floated primary button" onclick="castBallot();">Cast ballot</button>
{% endblock buttons %}

{% block after %}
	<script>
		function getCookie(name) {
			if (document.cookie) {
				var cookies = document.cookie.split(";");
				for (var cookie of cookies) {
					cookie = cookie.trim();
					if (cookie.startsWith(name + "=")) {
						return decodeURIComponent(cookie.substring(name.length + 1));
					}
				}
			}
			return null;
		}
		
		function castBallot() {
			try {
				$("#booth-content").html('<div class="ui active text loader">Casting your ballot. Please wait.</div>');
				
				encryptedVoteJson = eos_js.eos_core.libobjects.__all__.to_json(eos_js.eos_core.libobjects.__all__.EosObject.serialise_and_wrap(booth.encryptedVote, null));
				$.ajax({
					url: "{{ election_base_url }}/cast_vote",
					type: "POST",
					data: { "encrypted_vote": encryptedVoteJson },
					dataType: "text",
					beforeSend: function(xhr) { xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken")); }
				})
					.done(function(data) {
						showTemplate("complete");
					})
					.fail(boothError);
			} catch (err) {
				boothError();
				throw err;
			}
		}
	</script>
{% endblock after %}
