<h1 class="ui header">{{ election.election_name }}</h1>

<p><small><b>Election fingerprint:</b> {{ election.hash() }}</small></p>

<div class="ui secondary pointing menu" id="election-tab-menu">
	<a href="#" class="ui active item" style="color: #767676; font-weight: 400;">1. Welcome</a>
	<a href="#" class="ui active item" style="color: #767676; font-weight: 400;">2. Make selections</a>
	<a href="#" class="ui active item" style="color: #767676; font-weight: 400;">3. Review selections</a>
	<a href="#" class="ui active item" style="color: #767676; font-weight: 400;">4. Audit ballot</a>
	<a href="#" class="ui active item">5. Cast ballot</a>
</div>

<div class="ui container" style="margin-bottom: 1em;">
	<p><b>Your ballot has been successfully cast!</b></p>
	<p>Your smart ballot tracker is <b style="font-family: monospace; word-wrap: break-word;">{{ booth.encryptedVote.hash() }}</b>.</p>
	<p>We recommend that you make a note of your smart ballot tracker, as shown above, and verify that it appears correctly in the ballot tracking centre. If you wish, you may print this page as a receipt. <a href="#" onclick="window.print(); return false;">Click here to print a copy of this page.</a></p>
</div>

<div class="ui container">
	<a href="{{ election_base_url }}/view" class="ui right floated primary button">Return to election page</a>
</div>

<script>
	function prepareBallotThenAudit() {
		$("#booth-content").html('<div class="ui active text loader">Preparing your ballot. Please wait.</div>');
		boothWorker.onmessage = function(msg) {
			try {
				booth.encryptedVote = eos_js.eos_core.libobjects.__all__.EosObject.deserialise_and_unwrap(msg.data, null);
				showTemplate('audit');
			} catch (err) {
				boothError();
				throw err;
			}
		}
		boothWorker.onerror = function(err) {
			boothError();
			throw err;
		}
		try {
			boothWorker.postMessage({
				"action": "generateEncryptedVote",
				"static_base_url": {{ static_base_url }},
				"election": eos_js.eos_core.libobjects.__all__.EosObject.serialise_and_wrap(election, null),
				"selections": booth.selections,
			});
		} catch (err) {
			boothError();
			throw err;
		}
	}
</script>
