{% extends templates['base'] %}

{#
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block content %}
	<p><b>Your ballot has been successfully cast!</b></p>
	<p>Your smart ballot tracker is <b class="hash">{{ booth.encryptedVote.hash() }}</b>.</p>
	<p>We recommend that you make a note of your smart ballot tracker, as shown above, and verify that it appears correctly in the ballot tracking centre. If you wish, you may print this page as a receipt. <a href="#" onclick="window.print(); return false;">Click here to print a copy of this page.</a></p>
{% endblock %}

{% block buttons %}
	<a href="{{ election_base_url }}/view" class="ui right floated primary button">Return to election page</a>
{% endblock %}

{% block after %}
	<script>
		function prepareBallotThenAudit() {
			$("#booth-content").html('<div class="ui active text loader">Preparing your ballot. Please wait.</div>');
			boothWorker.onmessage = function(msg) {
				try {
					booth.encryptedVote = eos_js.eos_core.libobjects.__all__.EosObject.deserialise_and_unwrap(msg.data, null);
					showTemplate('audit');
				} catch (err) {
					boothError(err);
					throw err;
				}
			}
			boothWorker.onerror = function(err) {
				boothError(err);
				throw err;
			}
			try {
				boothWorker.postMessage({
					"action": "generateEncryptedVote",
					"static_base_url": {{ static_base_url }},
					"election": eos_js.eos_core.libobjects.__all__.EosObject.serialise_and_wrap(election, null),
					"selections": booth.selections,
				});
			} catch (err) {
				boothError(err);
				throw err;
			}
		}
	</script>
{% endblock %}
