<h1 class="ui header">{{ election.election_name }}</h1>

<p><small><b>Election fingerprint:</b> {{ election.hash() }}</small></p>

<div class="ui secondary pointing menu" id="election-tab-menu">
	<a href="#" class="ui active item">1. Welcome</a>
	<a href="#" class="ui item" style="color: #767676;">2. Make selections</a>
	<a href="#" class="ui item" style="color: #767676;">3. Review selections</a>
	<a href="#" class="ui item" style="color: #767676;">4. Audit ballot</a>
	<a href="#" class="ui item" style="color: #767676;">5. Cast ballot</a>
</div>

<p>Hello World!</p>

<a href="{{ election_base_url }}/view" class="ui left floated button">Back</a><button href="#" class="ui right floated primary button" onclick="showTemplate('selections'); return false;">Continue</button>
