<h1 class="ui header">{{ election.election_name }}</h1>

<p><small><b>Election fingerprint:</b> <span class="hash">{{ election.hash() }}</span></small></p>

<div class="ui secondary pointing menu" id="election-tab-menu">
	<a href="#" class="ui active item">1. Welcome</a>
	<a href="#" class="ui item" style="color: #767676;">2. Make selections</a>
	<a href="#" class="ui item" style="color: #767676;">3. Review selections</a>
	<a href="#" class="ui item" style="color: #767676;">4. Audit ballot</a>
	<a href="#" class="ui item" style="color: #767676;">5. Cast ballot</a>
</div>

<p>Welcome to the {{ election.election_name }} voting booth.</p>

<p>Follow the on-screen directions to prepare and cast your ballot in this election. The bar above will show your progress. Please note that your ballot will not be cast until you reach the final ‘Cast ballot’ stage.</p>

<p>If at any point you wish to return to a previous screen, click the ‘Back’ button below.</p>

<p>If you wish, you may disconnect your internet connection now while preparing your ballot, however you must re-connect your internet connection before logging in to cast your ballot.</p>

<p>Please click the blue ‘Continue’ button below to continue.</p>

<a href="{{ election_base_url }}/view" class="ui left floated button">Back</a><button class="ui right floated primary button" onclick="showTemplate('selections', '#booth-content', { 'questionNum': 0 });">Continue</button>
