<h1>{{ election.election_name }}</h1>

<p><small><b>Election fingerprint:</b> {{ election.hash() }}</small></p>

<div class="ui secondary pointing menu" id="election-tab-menu">
	<a href="#" class="ui active item">1. Welcome</a>
	<a href="#" class="ui item" style="color: #767676;">2. Make selections</a>
	<a href="#" class="ui item" style="color: #767676;">3. Review selections</a>
	<a href="#" class="ui item" style="color: #767676;">4. Audit ballot</a>
	<a href="#" class="ui item" style="color: #767676;">5. Cast ballot</a>
</div>

<p>Hello World!</p>

<button class="ui left floated button">Back</button><button class="ui right floated primary button">Continue</button>
