{% extends templates['base'] %}

{#
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block content %}
	{% for question in election.questions %}
		<h2>{{ loop.index }}. {{ question.title }}</h2>
		
		<div class="ui list">
			{% if booth.selections[loop.index0].length > 0 %}
				{% for selection in booth.selections[loop.index0] %}
					<div class="item">
						<i class="checkmark icon"></i>
						<div class="content">{{ question.choices[selection] }}</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="item">
					<i class="warning circle icon"></i>
					<div class="content">No candidates selected</div>
				</div>
			{% endif %}
		</div>
		
		{% if booth.selections[loop.index0].length < question.max_choices %}
			<div class="ui warning message">
				<p>You have selected fewer than the maximum allowed number of candidates. If this was not your intention, please click the ‘Back’ button below now, and correct your selections.</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block buttons %}
	<button class="ui left floated button" onclick="showTemplate('selections', '#booth-content', { 'questionNum': election.questions.length - 1 });">Back</a>
	<button class="ui right floated primary button" onclick="prepareBallotThenAudit();">Continue</button>
{% endblock %}

{% block after %}
	<script>
		function prepareBallotThenAudit() {
			$("#booth-content").html('<div class="ui active text loader">Preparing your ballot. Please wait.</div>');
			boothWorker.onmessage = function(msg) {
				try {
					booth.encryptedVote = eos_js.eos_core.libobjects.__all__.EosObject.deserialise_and_unwrap(msg.data, null);
					showTemplate('audit');
				} catch (err) {
					boothError();
					throw err;
				}
			}
			boothWorker.onerror = function(err) {
				boothError();
				throw err;
			}
			try {
				boothWorker.postMessage({
					"action": "generateEncryptedVote",
					"static_base_url": {{ static_base_url }},
					"election": eos_js.eos_core.libobjects.__all__.EosObject.serialise_and_wrap(election, null),
					"selections": booth.selections,
				});
			} catch (err) {
				boothError();
				throw err;
			}
		}
	</script>
{% endblock %}
