{% extends 'eos_basic/election_base.html' %}

{% comment %}
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block electioncontent %}
	<p>
		There
		{% if election.questions|length == 1 %}
			is {{ election.questions | length }} question
		{% else %}
			are {{ election.questions | length }} questions
		{% endif %}
		on the ballot in this election.
	</p>
	
	{% for question in election.questions %}
		<h2>Question {{ forloop.counter }}: {{ question.title }}</h2>
		
		<p>{{ question.description }}</p>
		
		<ul>
			{% for choice in question.choices %}
				<li>{{ choice }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
