/*
	Eos - Verifiable elections
	Copyright © 2017-18  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

#main_container {
	margin-top: 7em;
	margin-bottom: 3em;
}

.hash {
	font-family: monospace;
	word-break: break-all;
}

.monoout {
	font-family: monospace;
	white-space: pre-wrap;
	word-break: break-all;
	overflow-y: scroll;
	
	padding: .78571429em 1em;
	border: 1px solid rgba(34,36,38,.15);
	color: rgba(0,0,0,.87);
	border-radius: .28571429rem;
}

.superem {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

time[title] {
	text-decoration: underline dotted;
}

/* Default of 1.25rem is too small for our long lists… */
.ui.ordered.list, .ui.ordered.list .list, ol.ui.list, ol.ui.list ol {
	margin-left: 1.75rem;
}
.ui.ordered.list .list > .item::before, .ui.ordered.list > .item::before, ol.ui.list li::before {
	margin-left: -1.75rem;
}

/* Fix display of multiple right-aligned menu items */
.ui.menu:not(.vertical) .right.item ~ .right.item {
	margin-left: 0 !important;
}

/* Fix nested selectable tables */
.ui.table.selectable tr > td.selectable:hover {
	background: initial !important;
}

@media print {
	body, html {
		/* Default height: 100% causes blank pages */
		height: auto;
	}
	
	#main_container {
		margin-top: 4em;
	}
}

/* Preferential voting */

.preferential-choices {
	padding: 0.5em;
	position: relative;
}

.preferential-choices .dragarea {
	min-height: 2em;
	margin-top: 0.5em;
}

.preferential-choices .dragarea-hint:first-child:last-child {
	width: calc(100% - 1em);
	height: 2em;
	box-sizing: border-box;
	z-index: -100;
	border: 1px dashed #555;
	position: absolute;
}

#question-choices-selected {
	border: 1px solid #3465a4;
	margin-bottom: 0.5em;
}

.preferential-choice {
	background-color: #eee;
	margin-top: 0.5em;
	display: flex;
	min-height: 2em;
}

.preferential-choice:first-child {
	margin-top: 0;
}

.ticket-choices .preferential-choice {
	margin-top: 0.5em;
	min-height: 0;
}

#question-choices-selected .preferential-choice, #question-choices-selected .dragarea-hint:first-child:last-child {
	background-color: #e6f1fc;
}

#question-choices-remaining {
	border: 1px solid #555;
}

#question-choices-remaining .dragarea-hint:first-child:last-child {
	background-color: #eee;
}

.preferential-choice .number, .preferential-choice .content {
	padding: 0.5em 0 0.5em 0.5em;
}

.ticket-choices .number {
	padding: 0;
}

.ticket-choices .content {
	padding: 0 0 0 0.5em;
}

.preferential-choice .number {
	text-align: center;
}

.preferential-choice .number select {
	background-color: white;
}

.preferential-choice .content {
	/* Vertically center */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.preferential-choice .party-name, .preferential-choice .ticket-party-name {
	font-style: italic;
	font-size: small;
}

.ticket .ticket-party-name {
	display: none;
}

.ticket > .content > .party-name {
	font-size: inherit;
}
