{% extends 'election/base.html' %}

{#
	Eos - Verifiable elections
	Copyright © 2017  RunasSudo (Yingtong Li)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.
	
	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block electioncontent %}
	<h2>Next tasks</h2>
	
	<ul>
		{% for task in election.workflow.tasks %}
			{% if task.status == eos.base.workflow.WorkflowTask.Status.READY %}
				<li><a href="{{ url_for('election_admin_enter_task', election_id=election._id, task_name=task._name) }}" onclick="return window.confirm('Are you sure you want to execute the task \'{{ task.label }}\'? This action is irreversible.');">{{ task.label }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	
	<h2>Schedule a task</h2>
	
	<form class="ui form" action="{{ url_for('election_admin_schedule_task', election_id=election._id) }}" method="post">
		<div class="field">
			<label>Task</label>
			<select class="ui dropdown" name="task_name">
				{% for task in election.workflow.tasks %}
					<option value="{{ task._name }}">{{ task.label }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="field">
			<label>UTC date and time (ISO 8601)</label>
			<input name="datetime" value="{{ eos.core.objects.DateTimeField().serialise(eos.core.objects.DateTimeField.now()) }}" type="text">
		</div>
		<input type="submit" class="ui primary button" value="Schedule task">
	</form>
{% endblock %}
